.bilderlings-homework-fee {
  display: flex;
  justify-content: space-between;
}

.bilderlings-homework-fee-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
